.search {
    background-color: rgba(241, 241, 241, 0.6);
    color: black;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    font-family: serif;
}

.catalog-content {
    display: flex;
    flex-direction: row;
}

.filter {
    display: flex;
    flex-direction: column;
    background-color: rgba(241, 241, 241, 0.6);
    gap: 10px;
    padding: 15px;
    border-radius: 8px;
    color: white;
    margin-right: 20px;
    height: fit-content;
}

.dino-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  justify-items: center;
  width: 100%;
  max-width: 1500px;
  padding: 20px;
}



.dino-title {
    background-color: #9e9e9e;
    color: black;
    padding-left: 10px;
    font-family: serif;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: auto;
    font-size: 18px;
}

    .image-container {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 700px;
    height: 200px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.dino-card-cover {
   border: solid black 2px;
   border-radius: 10px;
}

.dino-card-cover:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
