.dino-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 90%;
    margin: 0 auto;
}


.dino-title {
    background-color: #ff9b29;
    color: black;
    padding-left: 10px;
    font-family: serif;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 500px;
}

    .image-container {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 500px;
    height: 300px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.dino-card-cover:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
.search {
    background-color: rgb(44, 44, 44);
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
}