.home-welcome {
    text-align: left;
    margin-top: 100px;
    margin-left: 100px;
    font-family: serif;
    font-size: 22px;
    padding: 20px;
}

.home-welcome p {
    margin-top: 20px;
    line-height: 1.6;
    width: 1200px;
}