input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #5b8b8b;
  box-shadow: 0 0 10px #3a5e5e;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #5b8b8b;
  box-shadow: 0 0 10px #273f3f;
  cursor: pointer;
}
