.nav-links{
    justify-content: center;
    display: flex;
    gap: 20px;
    padding: 10px;
    font-family: serif;
}

.nav-links a{
    color: rgba(230, 230, 230, 0.87);
    text-decoration: none;
    font-size: 22px;
    padding: 15px;
}